<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Your mail price</title>
</head>

<body>
    <h1>The weight of your item:</h1>
    <p><%=weight%></p>
    <h2>Type of mail selected:</h2>
    <p><%=type%></p>
    <h3>Your final price</h3>
    <p><%=result%></p>
</body>

</html>